<h1> USER SUMMARY: <%= @merchant.username %> </h1>
<br>

<section>
  <p> Joined site: <%= @merchant.created_at %> </p>
  <% if @merchant.id == session[:user_id] %>
    <p> 
    <%= link_to "Add Product", new_merchant_product_path(@merchant.id) %> | 
    <%= link_to "Add Category", new_category_path %>
    </p>
  <% end %>
</section>

<section>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <% @merchant.products.each do |product| %>
      <tr>
        <td> <%= link_to product.name, product_path(product) %> </td>
        <td> <%= product.quantity %> </td>
        <td> <%= product.price %> </td>
        <td> <%= product.status  %> </td>
        <% if product.merchant_id == session[:user_id] %>
          <td> <%= link_to "Edit", edit_product_path %> </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</section>