<section class="product-container">
  <div class="product-name-image">
    <%= image_tag @product.photo_url %>
  </div>

  <div class="price-quantity">
    <h1><%= @product.name %></h1>
    <h2><%= number_to_currency @product.price %></h2>
    <%= @product.merchant.username %>

    <%= form_with model: @order_item, class: "#{action_name}-product" do |f| %>
      <%= f.label :quantity %>
      <%= f.select :quantity, options_for_select(1..20), {}, {class: "form-control"} %>
      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    <% end %>

    Description: <%= @product.description%> <br>
    <% @product.categories.each do |category| %>
      Categories: <%= category.name %>
    <% end %>
  </div>

  <div class="reviews">
    <h2>Reviews</h2>
    <% if @product.reviews.empty? %>
      <p>No reviews yet!</p>
    <% else %>
    <ul>
      <% @product.reviews.each do |review| %>
      <article>
        <li>
          <% review.rating.times do%>
          <%= "🌱"  %>
          <% end %>
        </li>
        <p>
          <%= review.text %>
        </p>
      </article>
      <article>
        <%= link_to "Review this Product", new_product_review_path(@product.id) %>
      </article>
      <% end %>
    <% end %>
  </div>
</section>