<!DOCTYPE html>
<html>
  <head>
    <title>Planterina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <nav class="nav-bar">
      <div>
        <h1 class="title-section">Planterina</h1>
      </div>

      <div>
        <button class="home-button"><%= link_to "Home", root_path %></button>
      </div>  

      <div class="dropdown">
        <button class="dropbtn">Products</button>
        <div class="dropdown-content">
          <%= link_to "View Products", products_path %>
          <%= link_to "Add a Product", new_product_path %>
        </div>
      </div>
      
      <%# <div class="dropdown">
        <button class="dropbtn">Merchants</button>
          <div class="dropdown-content">
            <%= link_to "View Passengers", passengers_path %>
            <%# <%= link_to "Add a Passenger", new_passenger_path %>
          <%# </div> %>
      <%# </div> %>
    </nav>
    <%= yield %>
  </body>
</html>
