<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav app-header__user-nav-container">
      <% if session[:user_id].nil? %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Login with GitHub", github_login_path, class: "btn btn-primary" %>
        </li>
      <% else %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Logged in as #{Merchant.find(session[:user_id]).username}", merchant_path(session[:user_id]), class: "btn btn-primary" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Logout", logout_path, class: "btn btn-primary", method: :post %>
        </li>
      <% end %>
    </ul>

    <br>

    <%= yield %>
  </body>
</html>
