<!DOCTYPE html>
<html>
  <head>
    <title>Planterina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <nav class="nav-bar">
      <div>
        <h1 class="title-section">Planterina</h1>
      </div>

      <div>
        <button class="home-button"><%= link_to "Home", root_path %></button>
      </div>  

      <div class="dropdown">
        <button class="dropbtn">Products</button>
        <div class="dropdown-content">
          <%= link_to "View All Products", products_path %>
            <% Category.all.each do |category| %>
            <%= link_to category.name, category_products_path(category.id) %>
          <% end %>
          <%#<%= link_to "Add a Product", new_product_path %>
        </div>
      </div>
      
      <%# <div class="dropdown">
        <button class="dropbtn">Merchants</button>
          <div class="dropdown-content">
            <%= link_to "View Passengers", passengers_path %>
            <%# <%= link_to "Add a Passenger", new_passenger_path %>
          <%# </div> %>
      <%# </div> %>
    </nav>
    <%= yield %>
    <footer class="page-footer font-small">
      <div class="container text-center text-md-left">
        <div class="row">
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">PLANTERINA</h5>
          <p>DISCLAIMER: This is not a real site. Please don't give us your credit card information!</p>
        </div>
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">CAREERS</a>
              </p>
            </li>

            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">IN THE NEWS</a>
              </p>
            </li>
          </ul>

        </div>


        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">


          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                Seattle, WA 98101
              </p>
            </li>
            <li>
              <p>
                plants@planterina.com
              </p>
            </li>
            <li>
              <p>
                1 206 555 1234
              </p>
            </li>
          </ul>

        </div>



        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        </div>

      </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2019 Copyright: Green Thumbs
    </div>

  </footer>
  </body>

</html>
